uvicorn
fastapi 
streamlit
langchain
langchain-core
langchain-community
langchain-openai
langchain-huggingface
langgraph-supervisor
langgraph
dotenv 
pydantic
typing
langchain-text-splitters
transformers
sentence-transformers
ddgs
duckduckgo-search
torch
openai
faiss-cpu
docarray
python-dotenv
